.logo {
	display: flex;
	align-items: center;
	gap: 10px;

	> div {
		display: flex;
		flex-direction: column;

		h1 {
			font-family: 'Cinzel Decorative';
			font-weight: 700;
			font-size: 26px;
			line-height: 30px;
			color: #ffffff;
		}

		span {
			font-family: 'Cinzel';
			font-style: normal;
			font-weight: 400;
			font-size: 9px;
			line-height: 12px;
			text-transform: lowercase;
			color: rgba(255, 255, 255, 0.56);
		}
	}
}
