.hero-post {
	display: grid;
	grid-template-columns: 40% 60%;
	gap: 30px;

	@media (max-width: 1023px) {
		display: flex;
		flex-direction: column-reverse;
		gap: 20px;
	}

	&__main-img {
		width: 100%;
		aspect-ratio: 1/1;
		background: rgba(164, 211, 255, 0.13);
		background-image: url(https://avatars.mds.yandex.net/i?id=ee690fc2c566c3b0289ab1bfb72c9ebb_l-7547473-images-thumbs&n=13);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 30px;

		@media (max-width: 1023px) {
			aspect-ratio: 1/0.5;
		}

		@media (max-width: 560px) {
			aspect-ratio: 1/0.9;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 30px;

		> div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;

			h2 {
				font-family: 'Cinzel Decorative';
				font-style: normal;
				font-weight: 700;
				font-size: 68px;
				line-height: 92px;
				color: #ffffff;

				@media (max-width: 768px) {
					font-size: 50px;
					line-height: 62px;
				}

				@media (max-width: 560px) {
					font-size: 30px;
					line-height: 42px;
				}

				@media (max-width: 480px) {
					font-size: 25px;
					line-height: 42px;
				}
			}

			button {
				margin-left: 70px;
			}

			p {
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 22px;
				color: #ffffff;
				width: 90%;
				margin-left: auto;
			}
			&:nth-child(1) {
				position: relative;
				left: -180px;

				@media (max-width: 1023px) {
					left: 0px;
				}
			}
			&:nth-child(2) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 20px;
				@media (max-width: 560px) {
					display: none;
				}
				> div {
					background-size: cover;
					background-repeat: no-repeat;
					border-radius: 30px;
					width: 100%;
					height: 430px;
					background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/adda8d59261841.5a1c0f8e164e1.jpg);
					background-position: center;
					&:nth-child(2) {
						height: 340px;
						background-image: url(https://i.pinimg.com/originals/fa/f4/c1/faf4c1cb0861593a1881d0972a161af1.jpg);
					}
				}
			}
		}
	}
}
