@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import 'swiper/css';
html,
body {
	max-width: 100vw;
}

body {
	color: #fff;
	background: #000000;
	font-family: 'Cormorant SC', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	max-width: 100vw;
	&.hidden {
		overflow: hidden;
	}

	&::-webkit-scrollbar {
		width: 9px;
	}
	&::-webkit-scrollbar-track {
		background-color: #13191f4b;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(87, 87, 87, 0.27);
		border-radius: 10px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.Gallery span {
	font-family: 'Cormorant SC';
	font-weight: 700;
	font-size: 30px;
	color: #ffffff;
}

.Gallery {
	width: 90%;
	margin: 20px auto;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}
button {
	border: none;
	cursor: pointer;
}

.wrapper {
	width: 85%;
	margin: 100px auto;

	@media (max-width: 560px) {
		margin: 60px auto;
	}
}

.search-wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 95%;

	@media (max-width: 560px) {
		margin: 20px auto;
		width: 95%;
		padding-bottom: 80px;
	}
}

.m-btn {
	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
	color: #ffffff;

	display: flex;
	align-items: center;
	gap: 12px;
	border: none;
	padding: 10px 25px;
	border-radius: 40px;
	background: rgba(87, 87, 87, 0.22);
	backdrop-filter: blur(13.15px);

	@media (max-width: 480px) {
		font-size: 16px;
	}

	svg {
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		svg {
			transform: translateX(5px);
		}
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
