.PaintingIdHero {
	height: 100vh;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 560px) {
		height: max-content;
	}

	.PaintingIdHero-wrapper {
		&.wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
		}

		> div {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
			width: 100%;
			align-items: center;
			@media (max-width: 1023px) {
				display: flex;
				flex-direction: column-reverse;
			}
		}

		@media (max-width: 1023px) {
			margin-top: 260px;
		}
		@media (max-width: 768px) {
			margin-top: 120px;
		}

		@media (max-width: 560px) {
			width: 90%;
			margin-top: 55px;
			margin-bottom: 0;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		width: 100%;

		.art-btn {
			display: flex;
			align-items: center;
			gap: 15px;

			.download {
				padding: 11px;
				background: rgba(255, 255, 255, 0.11);
				backdrop-filter: blur(17.5px);
				border-radius: 36px;
				width: 45px;
				height: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.like {
				backdrop-filter: blur(17.5px);
				border-radius: 36px;
				font-family: 'Raleway';
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				color: #ffffff;
				padding: 12px 50px;

				background: rgba(255, 255, 255, 0.11);

				transition: all 0.3s ease-in-out;
				box-shadow: 0 0 20px 0px transparent;

				&:hover {
					background: rgba(255, 255, 255, 0.034);
				}

				&.liked {
					box-shadow: 0 0 20px 0px #f4205523;
					background: #f42055;
				}
			}
		}
		small {
			font-family: 'Raleway';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			color: #cbcbcb;
		}

		h1 {
			font-family: 'Cinzel Decorative';
			font-style: normal;
			font-weight: 700;
			font-size: 35px;
			line-height: 45px;
			text-align: left;
			color: #ffffff;

			@media (max-width: 560px) {
				text-align: center;
				font-size: 30px;
			}
		}

		p {
			font-family: 'Shippori Mincho';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 29px;
			color: #ffffffe0;
		}

		.artist-info {
			display: flex;
			flex-direction: column;
			gap: 10px;

			span {
				font-family: 'Cormorant SC';
				font-style: normal;
				font-weight: 600;
				font-size: 30px;
				line-height: 36px;
				color: #ffffff;
			}
		}
	}

	&__img {
		width: 100%;
		height: 500px;
		border-radius: 10px;
		background-color: #171c21;
		background-size: cover;
		background-repeat: no-repeat;

		@media (max-width: 1023px) {
			height: auto;
			aspect-ratio: 2/1.3;
		}
	}
}
