.MainHero {
	background-image: url('/mainHero.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%;

	display: flex;
	justify-content: center;
	position: relative;

	@media (max-width: 560px) {
		height: 90vh;
	}

	@media (max-width: 480px) {
		height: 75vh;
	}

	.hero-title {
		display: flex;
		flex-direction: column;
		gap: 5px;
		position: absolute;
		top: 130px;
		z-index: 3;

		@media (max-width: 560px) {
			gap: 0;
		}

		@media (max-width: 650px) {
			top: 90px;
		}

		@media (max-width: 560px) {
			top: 40px;
		}

		> span {
			font-family: 'Raleway';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			color: #cbcbcb;
		}

		h1 {
			font-family: 'Cinzel Decorative';
			font-style: normal;
			font-weight: 700;
			font-size: 80px;
			line-height: 110px;

			text-align: center;
			color: #ffffff;

			@media (max-width: 1023px) {
				line-height: 80px;
			}

			@media (max-width: 560px) {
				font-size: 60px;
			}

			@media (max-width: 480px) {
				font-size: 40px;
			}
		}
	}

	.hero-pictures {
		position: relative;
		margin: 6.5%;
		width: 100%;

		display: flex;
		@media (max-width: 560px) {
			margin: 2.5%;
		}

		&__right {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: max-content;
			width: 500px;

			position: absolute;
			right: 0;
			bottom: 0;

			@media (max-width: 1439px) {
				display: none;
			}

			> .img {
				width: 100%;
				height: 260px;
				background-image: url('/heroimg3.svg');

				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		p {
			font-family: 'Shippori Mincho';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 25px;
			color: #ffffff;
		}
		&__left {
			display: flex;
			flex-direction: column;
			gap: 10px;

			width: 70%;

			left: 0;
			top: 0;
			margin-right: 0;

			@media (max-width: 1439px) {
				width: 100%;
			}

			> .img {
				position: absolute;
				background-size: cover;
				background-repeat: no-repeat;

				&:nth-child(1) {
					width: 450px;
					height: 500px;
					z-index: 2;
					top: 65px;
					left: 0;
					background-image: url('/heroimg1.svg');

					@media (max-width: 1439px) {
						top: 27%;
					}
					@media (max-width: 768px) {
						width: 70%;
						height: auto;
						z-index: 2;
						aspect-ratio: 0.9 / 1;
					}

					@media (max-width: 560px) {
						width: 90%;
						top: 20%;
					}
				}
				&:nth-child(2) {
					width: 550px;
					height: 300px;
					bottom: 0;
					left: 250px;
					z-index: 3;
					background-image: url('/heroimg2.svg');

					@media (max-width: 1439px) {
						left: 25%;
					}

					@media (max-width: 1023px) {
						left: 15%;
					}

					@media (max-width: 767px) {
						width: 85%;
						height: auto;
						z-index: 2;
						aspect-ratio: 2 / 1.1;
					}

					@media (max-width: 560px) {
						display: none;
					}
				}
			}
			p {
				position: absolute;
				left: 350px;
				bottom: 240px;
				width: 500px;
				z-index: 4;

				@media (max-width: 1439px) {
					left: 15%;
				}

				@media (max-width: 1023px) {
					left: 25%;
				}
				@media (max-width: 767px) {
					width: 80%;
					bottom: 27%;
				}
				@media (max-width: 560px) {
					width: 95%;
					bottom: 5%;
					left: 5%;
				}
			}
		}
	}
}
