.TopPicture {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-bottom: 200px;
	@media (max-width: 560px) {
		width: 95%;
	}

	> span {
		font-family: 'Cinzel Decorative';
		font-style: normal;
		font-weight: 700;
		font-size: 50px;
		line-height: 56px;
		text-align: center;
		color: #ffffff;
		@media (max-width: 560px) {
			font-size: 30px;
			line-height: 36px;
		}
	}

	> div {
		background-image: url(/TopPicture.svg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 80%;
		border-radius: 40px;
		aspect-ratio: 1/0.7;

		@media (max-width: 560px) {
			width: 100%;
		}
	}
}
